# App
NODE_ENV=development

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres
DATABASE_URL=postgresql://postgres:your_password@db:5432/postgres

# Supabase db
NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_KEY=your_service_role_key

# Studio
SUPABASE_URL=http://kong:8000
STUDIO_PG_META_URL=http://meta:8080

# Postgres Meta
PG_META_PORT=8080
PG_META_DB_HOST=db
PG_META_DB_PORT=5432
PG_META_DB_NAME=postgres
PG_META_DB_USER=postgres
PG_META_DB_PASSWORD=your_password
